/*.navbar {
    text-transform: uppercase;
}
.navbar-brand {
    font-size: 20px;
    padding: 20px 0px;
}
.navbar-nav li {
    width: 150px;
    text-align: center;
    padding: 15px 0px;
}

.dropdownLi{
    padding: 25px 0px 0px 25px;
}
*/


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 321px) and (max-height: 570px) {
    .navbar-brand{
        font-size: 18px;
        font-weight: bold;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
    .navbar-brand{
        font-size: 18px;
        font-weight: bold;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
    .navbar-brand{
        font-size: 18px;
        font-weight: bold;
    }
}

.container {
    margin: 0px !important;
}
.navbar {
    text-transform: uppercase;
}

.navbar-brand {
    font-size: 30px;
    padding: 15px 45px 15px 0px;
    font-weight: bold;
}

.navbar-nav li {
    width: 150px;
    text-align: center;
}

.navbar-nav li a {
    padding: 15px 0px;
}

.dropdown-item {
    padding: 8px !important;
}

.nav-item .active {
    background: #18BC9C !important;
}