<!-- <div>
    <nav class="navbar navbar-default navbar-custom">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle Navigation</span>Menu
            </button>
            <a (click)="navigate('dashboard')" class="navbar-brand">Protracker</a>
        </div>

        <div class="collapse navbar-collapse" uib-collapse="">
            <ul class="nav navbar-nav navbar-left">
                <li (click)="navigate('dashboard')" [class.active]="selectedPage === 'dashboard'">
                    <a>Dashboard</a>
                </li>
                <li (click)="navigate('tasks')" [class.active]="selectedPage === 'tasks'">
                    <a>Tasks</a>
                </li>
                <li (click)="navigate('projects')" [class.active]="selectedPage === 'projects'">
                    <a>Projects</a>
                </li>
                <li (click)="navigate('notes')" [class.active]="selectedPage === 'notes'">
                    <a>Notes</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li class="searchIndex">
                    <div class="searchBox">
                        <input type="text" class="searchInput">

                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right ul-padding">
                <li>
                    <div>
                        <div class="dropdown">
                            <button class="profileBtn" type="button" aria-expanded="true" (click)="toggleMenu()">
                                Menu
                            </button>
                            <ul class="dropdown-menu" *ngIf="menuDisplay">
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div> -->

<!--Navbar-->
<!--<nav class="navbar navbar-toggleable-md navbar-dark teal">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <strong>Protracker</strong>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Notes</a>
                </li>
            </ul>
            <form class="form-inline waves-effect waves-light">
                <input class="form-control" type="text" placeholder="Search">
            </form>
            <ul>
                <li class="nav-item dropdown btn-group dropdownLi">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
                    <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item">Action</a>
                        <a class="dropdown-item">Another action</a>
                        <a class="dropdown-item">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<nav class="navbar navbar-toggleable-md navbar-dark primary-color-dark">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav2" aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <strong>Protracker</strong>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav2">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active" (click)="navigate('dashboard')" [class.active]="selectedPage === 'dashboard'">
                    <a class="nav-link waves-effect waves-light">Dashboard</a>
                </li>
                <li class="nav-item" (click)="navigate('tasks')" [class.active]="selectedPage === 'tasks'">
                    <a class="nav-link waves-effect waves-light">Tasks</a>
                </li>
                <li class="nav-item" (click)="navigate('projects')" [class.active]="selectedPage === 'projects'">
                    <a class="nav-link waves-effect waves-light">Projects</a>
                </li>
                <li class="nav-item" (click)="navigate('notes')" [class.active]="selectedPage === 'notes'">
                    <a class="nav-link waves-effect waves-light">Notes</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item dropdown btn-group">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
                    <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item">Profile</a>
                        <a class="dropdown-item">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="logout()">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>