
<nav class="navbar navbar-toggleable-md navbar-dark primary-color-dark">
    <div class="container" style="width: 100%;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav2" aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <strong>Protracker</strong>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav2">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active" (click)="navigate('dashboard')" [class.active]="selectedPage === 'dashboard'">
                    <a class="nav-link waves-effect waves-light">Dashboard</a>
                </li>
                <li class="nav-item" (click)="navigate('tasks')" [class.active]="selectedPage === 'tasks'">
                    <a class="nav-link waves-effect waves-light">Tasks</a>
                </li>
                <li class="nav-item" (click)="navigate('projects')" [class.active]="selectedPage === 'projects'">
                    <a class="nav-link waves-effect waves-light">Projects</a>
                </li>
                <li class="nav-item" (click)="navigate('notes')" [class.active]="selectedPage === 'notes'">
                    <a class="nav-link waves-effect waves-light">Notes</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item dropdown btn-group">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
                    <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item">Profile</a>
                        <a class="dropdown-item">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="logout()">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>