table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

table tr {
    cursor: pointer;
}

.card {
	width: 250px !important;
	margin: 10px;
}
.fa {
	color: #fff !important;
}
.fa:hover {
	cursor: pointer;
}
.card-text {
	font-size: 14px;
}
.card-text label {
	font-weight: bold;
}