<div class="panel panel-default">
    <table class="table table-bordered table-hover">
        <tr>
            <th colspan="3" class="tableHeader">
                <span>
                    <h5 class="">Projects</h5>
                    <i class="fa fa-pencil fa-1x"></i>
                </span>
            </th>
        </tr>
        <tr *ngFor="let project of projectsList">
            <td>{{project.projectId}}</td>
            <td>{{project.projectName}}</td>
            <td>{{project.clientName}}</td>
        </tr>
        <tr *ngIf="projectsList?.length === 0">
            <td colspan="3">
                No Projects to show
            </td>
        </tr>
    </table>
</div>