<div class="panel panel-default">
    <h2 class="brown-text">Projects</h2>
    <table class="table table-hover">
        <thead class="light-green lighten-3">
            <tr>
                <th>#</th>
                <th>Project Name</th>
                <th>Client Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projectsList" (click)="openProjectDetails(project.projectId)">
                <td>{{project.projectId}}</td>
                <td>{{project.projectName}}</td>
                <td>{{project.client.clientName}}</td>
            </tr>
        </tbody>
        <tr *ngIf="projectsList?.length === 0">
            <td colspan="3">
                No Projects to show
            </td>
        </tr>
    </table>
</div>