<app-header></app-header>
<toaster-container></toaster-container>
<div class="container-fluid componentPadding">
    <div class="row componentMargin">
        <div class="floatLeft col-10">
            <button type="button" class="btn btn-deep-orange" (click)="backNavigation()">Back to Task List</button>
        </div>
        <div class="floatRight col-2">
            <button type="button" class="btn btn-deep-orange" data-toggle="modal" data-target="#editTaskSm" (click)="EditTaskDetails()" [disabled]="completedTask">Edit Details</button>
        </div>
    </div>

    <div class="container-fluid componentPadding projectDetails" *ngIf="(taskDetails | json)!== '{}'">
        <h1 style="display: inline-block;padding-left: 40%;" class="display-4">{{taskDetails.taskId}}</h1>

        <h4 style="display: inline-block; padding-left: 50px; vertical-align: super;">
            <span class="badge blue lighten-2" *ngIf="taskDetails.taskStatus === '0'">{{taskDetails.taskStatus | taskStatusFilter}}</span>
            <span class="badge yellow" *ngIf="taskDetails.taskStatus === '1'">{{taskDetails.taskStatus | taskStatusFilter}}</span>
            <span class="badge light-green lighten-4" *ngIf="taskDetails.taskStatus === '2'">{{taskDetails.taskStatus | taskStatusFilter}}</span>
            <span class="badge lime" *ngIf="taskDetails.taskStatus === '3'">{{taskDetails.taskStatus | taskStatusFilter}}</span>
            <span class="badge green" *ngIf="taskDetails.taskStatus === '4'">{{taskDetails.taskStatus | taskStatusFilter}}</span>
            <span class="badge red darken-4" *ngIf="taskDetails.taskStatus === '5'">{{taskDetails.taskStatus | taskStatusFilter}}</span>
        </h4>

        <div class="projectDetailsPadding componentMargin">
            <dl class="row">
                <dt class="col-sm-10"><h5 style="float: right;">Expected Completion Date: </h5></dt>
                <dd class="col-sm-2">{{taskDetails.expectedComDate | dateParser}}</dd>
            </dl>
        </div>

        <div class="componentMargin">
            <dl class="row">
                <dd class="col-sm-9">
                    <button type="button" class="btn btn-cyan floatRight" *ngIf="taskDetails.taskStatus === '1'" (click)="changeStatus('0', taskDetails._id)">Construction</button>
                    <button type="button" class="btn btn-cyan floatRight" *ngIf="taskDetails.taskStatus === '2'" (click)="changeStatus('1', taskDetails._id)">Start Design</button>
                    <button type="button" class="btn btn-cyan floatRight" *ngIf="taskDetails.taskStatus === '3'" (click)="defectiveComment = true" data-toggle="modal" data-target="#addCommentSm">Not Fixed</button>
                    <button type="button" class="btn btn-cyan floatRight" *ngIf="taskDetails.taskStatus === '5'" (click)="changeStatus('1', taskDetails._id)">Analyse</button>
                </dd>
                <dd class="col-sm-2">
                    <button type="button" class="btn btn-yellow" *ngIf="taskDetails.taskStatus === '0'" (click)="changeStatus('1', taskDetails._id)">Start Design</button>
                    <button type="button" class="btn btn-yellow" *ngIf="taskDetails.taskStatus === '1'" (click)="changeStatus('2', taskDetails._id)">Start Coding</button>
                    <button type="button" class="btn btn-yellow" *ngIf="taskDetails.taskStatus === '2'" (click)="changeStatus('3', taskDetails._id)">Start Testing</button>
                    <button type="button" class="btn btn-yellow" *ngIf="taskDetails.taskStatus === '3'" data-toggle="modal" data-target="#markCompleteSm">Done</button>
                </dd>
                <dd class="col-sm-1"><i class="fa fa-question-circle fa-2x" aria-hidden="true"></i></dd>
            </dl>
            <dl class="row taskDetailsMargin">
                <dt class="col-sm-3"><h5>Task Summary: </h5></dt>
                <dd class="col-sm-9">{{taskDetails.taskSummary}}</dd>

                <dt class="col-sm-3"><h5>Criticality: </h5></dt>
                <dd class="col-sm-9">
                    <i class="fa fa-ban fa-2x" aria-hidden="true" *ngIf="taskDetails.criticality === '1'"></i>
                    <i class="fa fa-exclamation fa-2x" aria-hidden="true" *ngIf="taskDetails.criticality === '2'"></i>
                    <i class="fa fa-angle-double-up fa-2x" aria-hidden="true" *ngIf="taskDetails.criticality === '3'"></i>
                    <i class="fa fa-angle-double-down fa-2x" aria-hidden="true" *ngIf="taskDetails.criticality === '4'"></i>
                    <i class="fa fa-long-arrow-down fa-2x" aria-hidden="true" *ngIf="taskDetails.criticality === '5'"></i>
                    <div class="statusDiv">{{taskDetails.criticality | criticalityFilter}}</div>
                </dd>

                <dt class="col-sm-3"><h5>Project Name: </h5></dt>
                <dd class="col-sm-9">{{taskDetails.project.projectName}}</dd>

                <dt class="col-sm-3"><h5>Description: </h5></dt>
                <dd class="col-sm-9">{{taskDetails.description}}</dd>
            </dl>
        </div>

        <div class="componentMargin">
            <dl class="row taskDetailsMargin">
                <dt class="col-sm-5">
                    <div class="dropdown-divider divider"></div>
                </dt>
                <dt class="col-sm-2 divider-x">
                    X
                </dt>
                <dt class="col-sm-5">
                    <div class="dropdown-divider divider"></div>
                </dt>
            </dl>
        </div>
        <div class="componentMargin">
            <dl class="row">
                <dt class="col-sm-2" style="text-align: center;"><h4>Images</h4></dt>
                <dd class="col-sm-10">
                    <button type="button" class="btn btn-light-green floatRight" [disabled]="completedTask">Add Image</button>
                </dd>
            </dl>

            <dl class="row taskDetailsMargin" *ngFor="let image of taskDetails.images">
                Image One
            </dl>
            <dl class="row taskDetailsMargin" *ngIf="taskDetails.images?.length === 0">
                There are no Images available for the task.
            </dl>
        </div>
        <div class="componentMargin">
            <dl class="row taskDetailsMargin">
                <dt class="col-sm-5">
                    <div class="dropdown-divider divider"></div>
                </dt>
                <dt class="col-sm-2 divider-x">
                    X
                </dt>
                <dt class="col-sm-5">
                    <div class="dropdown-divider divider"></div>
                </dt>
            </dl>
        </div>
        <div class="componentMargin">
            <dl class="row">
                <dt class="col-sm-2" style="text-align: center;"><h4>Comments</h4></dt>
                <dd class="col-sm-10">
                    <button type="button" class="btn btn-light-green floatRight" data-toggle="modal" data-target="#addCommentSm" [disabled]="completedTask">Add Comment</button>
                </dd>
            </dl>

            <div class="projectDetailsPadding" *ngFor="let comment of taskDetails.taskComments">
                <div class="dropdown-divider"></div>
                <div class="view" style="color: #d81b60;">{{comment.date | dateParser}} : </div>
                <div class="view floatRight">
                    <i class="fa fa-pencil commentIconsStyles" style="padding-right: 20px;" aria-hidden="true" data-toggle="modal" data-target="#editCommentSm" (click)="populateComment(comment)"></i>
                    <i class="fa fa-trash commentIconsStyles" aria-hidden="true" (click)="deleteComment(comment)"></i>
                </div>
                <div>
                    {{comment.comment}}
                </div>
            </div>
            <div class="projectDetailsPadding" *ngIf="taskDetails.taskComments?.length === 0">
                There are no comments available for the task.
            </div>
        </div>

        <div style="margin-bottom: 100px;"></div>

    </div>
</div>

<div class="modal fade" id="editTaskSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Edit Task</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <form name="editTaskForm" #editTaskForm="ngForm" id="editTaskForm">
                <div class="modal-body">
                    <div class="md-form">
                        <label for="taskSummary" class="active">Task Summary</label>
                        <input type="text" id="taskSummary" name="taskSummary" class="form-control" [(ngModel)]="editableTasks.taskSummary">
                    </div>
                    <div class="md-form">
                        <label for="description" class="active">Description</label>
                        <textarea type="text" id="description" name="description" class="md-textarea" [(ngModel)]="editableTasks.description"></textarea>
                    </div>
                    <div class="md-form">
                            <select class="customSelect" [style.color]="projectStyling" id="projectSelect" name="projectSelect" [(ngModel)]="editableTasks.projectId"  #projectSelect required disabled>
                                <option [value]="select">Please Select Project</option>
                                <option [value]="project._id" *ngFor="let project of projectsList">{{project.projectName}}</option>
                            </select>
                    </div>
                    <div class="md-form">
                        <select class="customSelect" [style.color]="criticalStyling" id="criticalSelect" name="criticalSelect" [(ngModel)]="editableTasks.criticality"  #criticalSelect (change)="changeStyling(criticalSelect.value)" required>
                            <option [value]="select">Please Select Criticality</option>
                            <option [value]="criticality.id" *ngFor="let criticality of criticalityList">{{criticality.value}}</option>
                        </select>
                    </div>
                    <div class="md-form topStyling" style="position: relative; width: 250px; margin-top: 70px;">
                        <label style="margin-top: -50px;">Expected Completion Date</label>
                        <my-date-picker name="mydate" [options]="myDatePickerOptions"
                                        [(ngModel)]="expCompDate" required></my-date-picker>
                    </div>
                </div>
            </form>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" [disabled]="!editTaskForm.form.valid" (click)="updateTask()">Update Task</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

<div class="modal fade" id="addCommentSm" tabindex="-1" role="dialog" aria-labelledby="myCommentLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myCommentLabel">Add Comment</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <form name="addCommentForm" #addCommentForm="ngForm" id="addCommentForm">
                <div class="modal-body">
                    <div class="md-form" style="margin-top: 30px;">
                        <label for="comment">Comment</label>
                        <textarea type="text" id="comment" name="comment" class="md-textarea" [(ngModel)]="newComment.comment"></textarea>
                    </div>
                </div>
            </form>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" *ngIf="!defectiveComment" [disabled]="!addCommentForm.form.valid" (click)="addComment()">Add Comment</button>
                <button type="button" class="btn btn-primary" *ngIf="defectiveComment" [disabled]="!addCommentForm.form.valid" (click)="markDefective()">Mark Defective</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

<div class="modal fade" id="editCommentSm" tabindex="-1" role="dialog" aria-labelledby="myCommentEditLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myCommentEditLabel">Add Comment</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <form name="editCommentForm" #editCommentForm="ngForm" id="editCommentForm">
                <div class="modal-body">
                    <div class="md-form" style="margin-top: 30px;">
                        <label for="editablecomment" class="active">Comment</label>
                        <textarea type="text" id="editablecomment" name="editablecomment" class="md-textarea" [(ngModel)]="updatedComment.comment"></textarea>
                    </div>
                </div>
            </form>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" [disabled]="!editCommentForm.form.valid" (click)="updateComment()">Update Comment</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

<div class="modal fade" id="markCompleteSm" tabindex="-1" role="dialog" aria-labelledby="markCompleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title w-100" id="markCompleteLabel">Add Comment</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <form name="markCompleteForm" #markCompleteForm="ngForm" id="markCompleteForm">
                <div class="modal-body">
                    <div class="md-form" style="margin-top: 30px;">
                        <label for="completedComment">Comment</label>
                        <textarea type="text" id="completedComment" name="completedComment" class="md-textarea" [(ngModel)]="markCompleteObj.comment"></textarea>
                    </div>

                    <div class="md-form topStyling" style="position: relative; width: 250px; margin-top: 70px;">
                        <label style="margin-top: -50px;">Expected Completion Date</label>
                        <my-date-picker name="mydate" [options]="myDatePickerOptions"
                                        [(ngModel)]="completionDate" required></my-date-picker>
                    </div>
                </div>
            </form>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" [disabled]="!markCompleteForm.form.valid" (click)="markComplete()">Mark Complete</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>