<app-header></app-header>
<toaster-container></toaster-container>
<div class="container-fluid componentPadding">
    <div class="row componentMargin">
        <div class="floatLeft col-10"> 
            <div style="display: inline-block">
                <h5 class="paddingTop">Filters: </h5>
            </div>
            Display button with show filter name, on click of which will expand area below it and which will have the filter criteria
        </div>
        <div class="floatRight col-2">
            <button type="button" class="btn btn-deep-orange" data-toggle="modal" data-target="#addTaskSm" (click)="populateNewTask()">Add Task</button>
        </div>
    </div>
    <div>
        <div class="view overlay hm-blue-light" *ngFor="let task of taskList | criticalitySort">
            <div class="card">
                <div [class.table-danger]="isInDanger(task.expectedComDate, task.taskStatus)" >
                    <div class="card-block">
                        <h4 class="card-title">{{task.taskId}}</h4>
                        <h5 class="card-title">{{task.taskSummary}}</h5>
                        <div>
                            <label>Criticality: </label> {{task.criticality | criticalityFilter}}
                        </div>
                        <div>
                            <label>Status: </label> {{task.taskStatus | taskStatusFilter}}
                        </div>
                        <div *ngIf="task.taskStatus !== 'Completed'">
                            <label>Expected Com. Date: </label> {{task.expectedComDate | date:'dd/MM/yyyy'}}
                        </div>
                        <div *ngIf="task.taskStatus === 'Completed'">
                            <label>Completion Date: </label> {{task.completionDate | date:'dd/MM/yyyy'}}
                        </div>
                    </div>
                    <div class="mask flex-center hm-cyan-strong">
                        <div class="floatLeft">
                            <i class="fa fa-info fa-3x" aria-hidden="true" (click)="openTaskDetails(task.taskId)"></i>
                        </div>
                        <div class="floatRight">
                            <i class="fa fa-trash fa-3x" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="taskList?.length === 0">
            <blockquote class="blockquote bq-primary">
                <p class="bq-title">NO TASKS !</p>
                <p class="bq-message">There are no tasks available for current project. Please add by clicking "Add Task" button ! </p>
            </blockquote>
        </div>
    </div>
</div>

<div class="modal fade" id="addTaskSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Add Task</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <form name="addTaskForm" #addTaskForm="ngForm" id="addTaskForm">
                <div class="modal-body">
                    <div class="md-form">
                        <label for="taskSummary">Task Summary</label>
                        <input type="text" id="taskSummary" name="taskSummary" class="form-control" [(ngModel)]="newTask.taskSummary">
                    </div>
                    <div class="md-form">
                        <label for="description">Description</label>
                        <textarea type="text" id="description" name="description" class="md-textarea" [(ngModel)]="newTask.description"></textarea>
                    </div>
                    <div class="md-form">
                        <div class="floatLeft clientPosition">
                            <select class="customSelect" [style.color]="projectStyling" id="projectSelect" name="projectSelect" [(ngModel)]="newTask.projectId" #projectSelect (change)="changeStyling(projectSelect.value, 'projectStyling')" required [disabled]="!differentProject">
                                <option [value]="select">Please Select Project</option>
                                <option [value]="project._id" *ngFor="let project of projectsList">{{project.projectName}}</option>
                            </select>
                        </div>
                        <div class="clientPosition addIconPosition" style="padding-top: 20px;">
                            <input type="checkbox" class="checkboxInput" id="currentProject" name="currentProject" [(ngModel)]="differentProject">
                            <span class="checkBoxLabel">Not your Project?</span>
                        </div>
                    </div>
                    <div class="md-form">
                        <select class="customSelect" [style.color]="criticalStyling" id="criticalSelect" name="criticalSelect" [(ngModel)]="newTask.criticality" #criticalSelect (change)="changeStyling(criticalSelect.value, 'criticalStyling')" required>
                            <option [value]="select">Please Select Criticality</option>
                            <option [value]="criticality.id" *ngFor="let criticality of criticalityList">{{criticality.value}}</option>
                        </select>
                    </div>
                    <div class="md-form topStyling" style="position: relative; width: 250px; margin-top: 70px;">
                        <label style="margin-top: -50px;">Expected Completion Date</label>
                        <my-date-picker name="mydate" [options]="myDatePickerOptions"
                                        [(ngModel)]="expCompDate" required></my-date-picker>
                    </div>
                </div>
            </form>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" [disabled]="!addTaskForm.form.valid" (click)="addTask()">Save changes</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>