<div class="modal fade right" id="helpPopupRight" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true" *ngIf="pageName === 'projects'">
    <div class="modal-dialog modal-full-height modal-right" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title w-100" id="helpModalLabel">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>

        </div>
    </div>
</div>