body{
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif !important;
    overflow-x: hidden;
}

button, textarea, input {
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif !important;
}

button:hover {
    cursor: pointer;
}

.componentPadding {
    padding: 20px 10px 0px 10px;
}

.customSelect {
    width: 300px;
    height: 50px;
    border: none;
    border-bottom: 1px solid lightgray;
    color: #757575;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif !important;
    outline: none;
}

.customSelect option[disabled]{
    color: #757575;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif !important
}

.customSelect option{
    padding: 10px;
    color: #000;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif !important
}
.current {
    background: #009688 !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.componentMargin {
    margin: 20px 10px 0px 10px;
}
