<app-header></app-header>
<toaster-container></toaster-container>

<!-- Page help option -->
<help-modal [pageName]="'projects'"></help-modal>

<!-- Projects List Start -->
<div class="container-fluid componentPadding">
    <div class="row componentMargin">
        <div class="col-10"></div>
        <div class="col-2">
            <i class="fa fa-question-circle fa-2x" aria-hidden="true" data-toggle="modal" data-target="#helpPopupRight"></i>
            <!-- <a class="helpLink" data-toggle="modal" data-target="#helpPopupRight">Help</a> -->
        </div>
    </div>
    <div class="row componentMargin">
        <div class="floatLeft col-10">
            <div style="display: inline-block">
                <h5 class="paddingTop">Filters: </h5>
            </div>
            Display button with show filter name, on click of which will expand area below it and which will have the filter criteria
        </div>
        <div class="floatRight col-2">
            <button type="button" class="btn btn-deep-orange" data-toggle="modal" data-target="#addProjectSm">Add Project</button>
        </div>
    </div>
    <div>
        <div class="view overlay hm-blue-light" *ngFor="let project of projectsList | projectSort">
            <div class="card">
                <div [class.table-success]="project.isCurrent">
                    <div class="card-block">
                        <h4 class="card-title">{{project.projectId}}</h4>
                        <h5 class="card-title">{{project.projectName}}</h5>
                        <div>
                            <label>Client Name: </label> {{project.client.clientName}}
                        </div>
                        <div>
                            <label>Client Domain: </label> {{project.client.clientDomain}}
                        </div>
                    </div>
                    <div class="mask flex-center hm-cyan-strong">
                        <div class="floatLeft">
                            <i class="fa fa-info fa-3x" aria-hidden="true" (click)="openProjectDetails(project.projectId)"></i>
                        </div>
                        <div class="floatRight">
                            <i class="fa fa-trash fa-3x" aria-hidden="true" aria-hidden="true" data-toggle="modal" data-target="#deleteProjectSm" (click)="selectProject(project._id)"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div *ngIf="projectsList?.length === 0">
            <blockquote class="blockquote bq-primary">
                <p class="bq-title">NO PROJECTS !</p>
                <p class="bq-message">There are no projects available for logged in user. Please add by clicking "Add Project" button ! </p>
            </blockquote>
        </div>
    </div>
</div>
<!-- Project List ends -->


<!-- Add Project Popup Starts -->
<div class="modal fade" id="addProjectSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Add Project</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <form name="addProjectForm" #addProjectForm="ngForm" id="addProjectForm">
                <div class="modal-body">
                    <div class="md-form">
                        <label for="projectName">Project Name</label>
                        <input type="text" id="projectName" name="projectName" class="form-control" [(ngModel)]="newProject.projectName" required>
                    </div>
                    <div class="md-form">
                        <label for="description">Description</label>
                        <textarea type="text" id="description" name="description" class="md-textarea" [(ngModel)]="newProject.description" required></textarea>
                    </div>
                    <div class="md-form">
                        <div class="floatLeft clientPosition">
                            <select class="customSelect" [style.color]="clientStyling" id="projectSelect" name="projectSelect" [(ngModel)]="newProject.client" #projectSelect (change)="changeStyling(projectSelect.value)" required>
                                <option [value]="select">Please Select Client</option>
                                <option [value]="client._id" *ngFor="let client of clientsList">{{client.clientName}}</option>
                            </select>
                        </div>
                        <div class="clientPosition addIconPosition">
                            <span style="">Not your Client. Click icon to add one!</span>
                            <i class="fa fa-caret-right fa-2x" aria-hidden="true" *ngIf="addClientFlag" (click)="toggleAddClient()"></i>
                            <i class="fa fa-caret-down fa-2x" aria-hidden="true" *ngIf="!addClientFlag" (click)="toggleAddClient()"></i>
                        </div>
                    </div>
                    <div *ngIf="!addClientFlag" class="paddingTop">
                        <form name="addClientForm" #addClientForm="ngForm">
                            <div class="md-form">
                                <label for="clientName">Client Name</label>
                                <input type="text" id="clientName" name="clientName" [(ngModel)]="newClient.clientName" class="form-control" required>
                            </div>
                            <div class="md-form">
                                <label for="clientDescription">Description</label>
                                <textarea id="clientDescription" name="clientDescription" class="md-textarea" [(ngModel)]="newClient.description" required></textarea>
                            </div>
                            <div class="md-form">
                                <div class="floatLeft clientPosition">
                                    <select class="customSelect" [style.color]="clientStyling" id="domainSelect" name="domainSelect" [(ngModel)]="newClient.clientDomain" #domainSelect required>
                                        <option [value]="select">Please Select Client Domain</option>
                                        <option [value]="domain.name" *ngFor="let domain of clientDomainList">{{domain.name}}</option>
                                    </select>
                                </div>
                                <div class="clientPosition addIconPosition">
                                    <button type="button" class="btn btn-primary" [disabled]="!addClientForm.form.valid" (click)="addClient()">Add Client</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="md-form topStyling">
                        <input type="checkbox" class="checkboxInput" id="currentProject" name="currentProject" [(ngModel)]="newProject.isCurrent">
                        <span class="checkBoxLabel">Is it current project</span>
                    </div>
                    <div class="md-form topStyling" *ngIf="newProject.isCurrent" style="position: relative; width: 250px; margin-top: 70px;">
                        <label style="margin-top: -50px;">Expected Completion Date</label>
                        <my-date-picker name="mydate" [options]="myDatePickerOptions"
                                        [(ngModel)]="expCompDate" required></my-date-picker>
                    </div>
                    <div class="md-form topStyling" *ngIf="!newProject.isCurrent" style="position: relative; width: 250px; margin-top: 70px;">
                        <label style="margin-top: -50px;">Completion Date</label>
                        <my-date-picker name="mydate" [options]="myDatePickerOptions"
                                        [(ngModel)]="completionDate" required></my-date-picker>
                    </div>
                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!addProjectForm.form.valid" (click)="addProject()">Add Project</button>
                </div>
            </form>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Add Project Popup ends -->

<!-- delete Project Confirmation Popup -->
<div class="modal fade" id="deleteProjectSm" tabindex="-1" role="dialog" aria-labelledby="deleteProjectLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning modal-sm" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title w-100" id="deleteProjectLabel">DELETE PROJECT</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <h5>Are you sure want to delete the project?</h5>
                The changes made could not be reverted back!
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="deleteProject()">Delete Project</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

