<div class="login-wrap">
    <div class="login-html">
        <div class="authDiv">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
            <label for="tab-1" class="tab">Forgot Password</label>
        </div>

        <div class="login-form">
            <form name="forgotPasswordForm">
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="emailAddress" class="label">Email Address</label>
                        <input id="emailAddress" name="emailAddress" type="email" class="input">
                    </div>
                    <div class="groupSpace"></div>
                    <div class="group groupBtn">
                        <input type="submit" class="button" value="Submit">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <input type="submit" class="button margin-right" value="Login" [routerLink]="['/login']">
                        <input type="submit" class="button" value="Register" [routerLink]="['/register']">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>